@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  box-sizing: border-box;
}

body {
  background: #1c8ef9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family:'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 5rem;
}
h1,h2,h3,h4,h5,h6,label,span{
  font-weight: 500;
}
body,html, .App,#root{
  width: 100%;
  height: 100%;
}
.navbar-light{
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
}
.auth-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner{
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus{
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3{
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label{
  font-weight: 400;
}
.navbar-collapse{
  justify-content: end;
}
.form-group{
  padding-bottom: 2vh;
}
.nav-link{
  margin: auto;
}
.navbar{
  width: 100%;
}
.imageItem{
  display: flex;
  flex-grow: 2;
}
.updateBlockButtons{
  width: 40% !important;
}